.input-form-error{
    font-size:12px;
    color:#ff5b5b;
    font-style: italic;
}
td{
    vertical-align: middle !important;
}
th{
    text-align: center;
}
.order{
    text-align: center;
}
.w50{
    width: 50px;
}
.w60{
    width: 60px;
}
.w100{
    width: 100px;
}
.w220{
    width: 220px;
}
.sortable:hover{
    cursor:move;
}

.video_url_container{
    display:none;
}